
<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0"> 
	<dict>
		<key>frames</key> 
		<dict> 
			<key>Chip_Pupple.png</key>
			<dict>
				<key>frame</key> 
				<string>{{391,1612},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>btnDangNhap111Copy3.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1073,1449},{155,47}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{155,47}</string> 
			</dict> 
			<key>footer.png</key>
			<dict>
				<key>frame</key> 
				<string>{{2,2},{1560,295}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{1560,295}</string> 
			</dict> 
			<key>bg.png</key>
			<dict>
				<key>frame</key> 
				<string>{{0,0},{1265,730}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{1265,730}</string> 
			</dict> 
			<key>kq3.png</key>
			<dict>
				<key>frame</key> 
				<string>{{2,1566},{211,93}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{211,93}</string> 
			</dict> 
			<key>btnDangNhap11Copy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1176,374},{155,47}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{155,47}</string> 
			</dict> 
			<key>kq.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1170,2},{211,93}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{211,93}</string> 
			</dict> 
			<key>khungchip1.png</key>
			<dict>
				<key>frame</key> 
				<string>{{300,999},{283,659}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{283,659}</string> 
			</dict> 
			<key>chipselect.png</key>
			<dict>
				<key>frame</key> 
				<string>{{940,1612},{102,105}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{102,105}</string> 
			</dict> 
			<key>empty.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1170,216},{3,3}}</string> 
					<key>offset</key> 
				<string>{-15.5,13.5}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{34,30}</string> 
			</dict> 
			<key>Chip_Blue.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1132,1133},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>Chip_Cycan.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1166,1339},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>khungLivestream.png</key>
			<dict>
				<key>frame</key> 
				<string>{{300,241},{708,385}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{708,385}</string> 
			</dict> 
			<key>ketQua.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1156,241},{349,17}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{349,17}</string> 
			</dict> 
			<key>btnDangNhap1111Copy5.png</key>
			<dict>
				<key>frame</key> 
				<string>{{973,1450},{155,47}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{155,47}</string> 
			</dict> 
			<key>do.png</key>
			<dict>
				<key>frame</key> 
				<string>{{216,1679},{16,16}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{16,16}</string> 
			</dict> 
			<key>khungCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{993,676},{324,109}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{324,109}</string> 
			</dict> 
			<key>btnDangNhap111Copy5.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1176,216},{155,47}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{155,47}</string> 
			</dict> 
			<key>btnDangNhap111Copy2.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1023,1450},{155,47}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{155,47}</string> 
			</dict> 
			<key>bgLivestream.png</key>
			<dict>
				<key>frame</key> 
				<string>{{300,629},{690,367}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{690,367}</string> 
			</dict> 
			<key>trang.png</key>
			<dict>
				<key>frame</key> 
				<string>{{268,1638},{16,16}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{16,16}</string> 
			</dict> 
			<key>kq4.png</key>
			<dict>
				<key>frame</key> 
				<string>{{973,1240},{207,94}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{207,94}</string> 
			</dict> 
			<key>Chip_Yellow.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1167,945},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>iconThoat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1132,1002},{128,32}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{128,32}</string> 
			</dict> 
			<key>icoTip.png</key>
			<dict>
				<key>frame</key> 
				<string>{{216,1566},{69,69}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{69,69}</string> 
			</dict> 
			<key>chipTrang.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1221,1538},{35,35}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{35,35}</string> 
			</dict> 
			<key>iconCaiDat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1226,518},{133,30}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{133,30}</string> 
			</dict> 
			<key>lineNgangCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1176,690},{155,25}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{155,25}</string> 
			</dict> 
			<key>Chip_Orange.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1143,1607},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>btnDangNhap111Copy4.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1123,1449},{155,47}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{155,47}</string> 
			</dict> 
			<key>Chip_Green.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1045,1608},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>icoBack.png</key>
			<dict>
				<key>frame</key> 
				<string>{{160,1662},{36,53}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{36,53}</string> 
			</dict> 
			<key>ketQuaCopy2.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1156,593},{349,17}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{349,17}</string> 
			</dict> 
			<key>Chip_Brown.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1166,1236},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>boderSettingCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{936,1285},{324,34}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{324,34}</string> 
			</dict> 
			<key>iconVip.png</key>
			<dict>
				<key>frame</key> 
				<string>{{216,1638},{49,38}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{49,38}</string> 
			</dict> 
			<key>kq2.png</key>
			<dict>
				<key>frame</key> 
				<string>{{680,1285},{432,141}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{432,141}</string> 
			</dict> 
			<key>countdown.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1173,1442},{93,90}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{93,90}</string> 
			</dict> 
			<key>boderChat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{962,1003},{167,234}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{167,234}</string> 
			</dict> 
			<key>iconLuatChoi.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1226,216},{153,30}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{153,30}</string> 
			</dict> 
			<key>Chip_Red.png</key>
			<dict>
				<key>frame</key> 
				<string>{{494,1612},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>btnDangNhap1111Copy4.png</key>
			<dict>
				<key>frame</key> 
				<string>{{2,1662},{155,47}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{155,47}</string> 
			</dict> 
			<key>chipDo.png</key>
			<dict>
				<key>frame</key> 
				<string>{{597,1612},{35,35}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{35,35}</string> 
			</dict> 
			<key>Chip_Pink.png</key>
			<dict>
				<key>frame</key> 
				<string>{{288,1612},{95,100}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{95,100}</string> 
			</dict> 
			<key>icExit.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1173,1538},{45,50}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{45,50}</string> 
			</dict> 
			<key>icoAvatar.png</key>
			<dict>
				<key>frame</key> 
				<string>{{824,1612},{113,112}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{113,112}</string> 
			</dict> 
			<key>kq1.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1011,241},{432,142}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{432,142}</string> 
			</dict> 
			<key>banChoi.png</key>
			<dict>
				<key>frame</key> 
				<string>{{300,2},{867,236}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{867,236}</string> 
			</dict> 
			<key>chat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{300,1285},{324,377}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{324,377}</string> 
			</dict> 
			<key>kq5.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1070,1240},{206,93}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{206,93}</string> 
			</dict> 
			<key>iconLsCuoc.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1226,372},{143,30}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{143,30}</string> 
			</dict> 
			<key>btnDangNhap11Copy2.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1176,532},{155,47}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{155,47}</string> 
			</dict> 
			<key>showKetQua.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1105,676},{323,48}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{323,48}</string> 
			</dict> 
			<key>khung.png</key>
			<dict>
				<key>frame</key> 
				<string>{{824,1285},{324,109}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{324,109}</string> 
			</dict> 
		</dict> 
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1265,1726}</string>
			<key>textureFileName</key>
			<string>xocdialivestream.png</string>
			<key>realTextureFileName</key>
			<string>xocdialivestream.png</string>
			</dict>
		</dict>
	</dict> 
</plist> 

