<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0"> 
	<dict>
		<key>frames</key> 
		<dict> 
			<key>100KOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1013,676},{99,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{99,57}</string> 
			</dict> 
			<key>datCuoc.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1302,2},{262,80}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{262,80}</string> 
			</dict> 
			<key>50KOn.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1032,736},{106,63}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{106,63}</string> 
			</dict> 
			<key>1MOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1026,802},{99,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{99,57}</string> 
			</dict> 
			<key>xiutrang.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1095,862},{34,29}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{34,29}</string> 
			</dict> 
			<key>btnLiveOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{981,862},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>btnChatOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1331,353},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>1MOffCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{755,815},{106,63}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{106,63}</string> 
			</dict> 
			<key>xiNgau1.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1141,715},{74,74}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{74,74}</string> 
			</dict> 
			<key>chen.png</key>
			<dict>
				<key>frame</key> 
				<string>{{826,394},{279,275}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{279,275}</string> 
			</dict> 
			<key>logoMo.png</key>
			<dict>
				<key>frame</key> 
				<string>{{0,0},{512,228}}</string> 
					<key>offset</key> 
				<string>{0,0.5}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{512,229}</string> 
			</dict> 
			<key>banChoi.png</key>
			<dict>
				<key>frame</key> 
				<string>{{2,2},{852,389}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{852,389}</string> 
			</dict> 
			<key>btnNanOffCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1313,524},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>xiNgau4Chat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{557,881},{26,26}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{26,26}</string> 
			</dict> 
			<key>taiden.png</key>
			<dict>
				<key>frame</key> 
				<string>{{767,814},{21,21}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{21,21}</string> 
			</dict> 
			<key>boxinside2.png</key>
			<dict>
				<key>frame</key> 
				<string>{{769,545},{135,114}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{135,114}</string> 
			</dict> 
			<key>10MOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{864,815},{99,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{99,57}</string> 
			</dict> 
			<key>xiNgau5.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1218,779},{74,72}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{74,72}</string> 
			</dict> 
			<key>bpderSoiCau.png</key>
			<dict>
				<key>frame</key> 
				<string>{{368,771},{552,41}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{552,41}</string> 
			</dict> 
			<key>xiNgau3.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1301,703},{74,73}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{74,73}</string> 
			</dict> 
			<key>xiNgau3Chat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{528,881},{26,26}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{26,26}</string> 
			</dict> 
			<key>btnLiveOn.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1302,267},{82,83}}</string> 
					<key>offset</key> 
				<string>{-1,1}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{84,85}</string> 
			</dict> 
			<key>btnThongTinOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1326,638},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>50MOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1224,643},{99,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{99,57}</string> 
			</dict> 
			<key>1KOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{924,802},{99,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{99,57}</string> 
			</dict> 
			<key>cauDenChon.png</key>
			<dict>
				<key>frame</key> 
				<string>{{368,717},{43,43}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{43,43}</string> 
			</dict> 
			<key>50MOffCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1115,649},{106,63}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{106,63}</string> 
			</dict> 
			<key>hinh.png</key>
			<dict>
				<key>frame</key> 
				<string>{{857,2},{442,318}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{442,318}</string> 
			</dict> 
			<key>xiNgau4.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1141,792},{74,73}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{74,73}</string> 
			</dict> 
			<key>500KOffCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{923,736},{106,63}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{106,63}</string> 
			</dict> 
			<key>xiNgau2Chat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{499,881},{26,26}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{26,26}</string> 
			</dict> 
			<key>cuoc.png</key>
			<dict>
				<key>frame</key> 
				<string>{{826,676},{184,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{184,57}</string> 
			</dict> 
			<key>xiNgau6.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1295,779},{73,72}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{73,72}</string> 
			</dict> 
			<key>khungLive.png</key>
			<dict>
				<key>frame</key> 
				<string>{{2,394},{444,320}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{444,320}</string> 
			</dict> 
			<key>logo.png</key>
			<dict>
				<key>frame</key> 
				<string>{{2,717},{363,108}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{363,108}</string> 
			</dict> 
			<key>xiu.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1104,372},{164,104}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{164,104}</string> 
			</dict> 
			<key>xiNgau5Chat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{586,881},{26,26}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{26,26}</string> 
			</dict> 
			<key>xiNgau1Chat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{470,881},{26,26}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{26,26}</string> 
			</dict>  
			<key>10KOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1271,372},{99,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{99,57}</string> 
			</dict> 
			<key>dauBang.png</key>
			<dict>
				<key>frame</key> 
				<string>{{869,797},{26,20}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{26,20}</string> 
			</dict> 
			<key>default_sprite.png</key>
			<dict>
				<key>frame</key> 
				<string>{{0,2},{40,36}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{40,40}</string> 
			</dict> 
			<key>10KOffCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{428,815},{106,63}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{106,63}</string> 
			</dict> 
			<key>500KOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1253,479},{99,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{99,57}</string> 
			</dict> 
			<key>btnSoiOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1315,581},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>SFUEurostileBold.png</key>
			<dict>
				<key>frame</key> 
				<string>{{2,2},{1017,506}}</string> 
					<key>offset</key> 
				<string>{-1.5,1}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{1024,512}</string> 
			</dict> 
			<key>logoNho.png</key>
			<dict>
				<key>frame</key> 
				<string>{{0,0},{139,66}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{139,66}</string> 
			</dict> 
			<key>btnLichSuOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{924,862},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>tai.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1104,479},{146,101}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{146,101}</string> 
			</dict> 
			<key>taiden.png</key>
			<dict>
				<key>frame</key> 
				<string>{{414,717},{34,29}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{34,29}</string> 
			</dict> 
			<key>xiNgau1.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1141,716},{74,73}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{74,73}</string> 
			</dict> 
			<key>10MOffCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{537,815},{106,63}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{106,63}</string> 
			</dict> 
			<key>allIn.png</key>
			<dict>
				<key>frame</key> 
				<string>{{2,828},{210,90}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{210,90}</string> 
			</dict> 
			<key>demGio.png</key>
			<dict>
				<key>frame</key> 
				<string>{{449,394},{374,374}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{374,374}</string> 
			</dict> 
			<key>huy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{215,828},{210,90}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{210,90}</string> 
			</dict> 
			<key>icon.png</key>
			<dict>
				<key>frame</key> 
				<string>{{428,881},{39,34}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{39,34}</string> 
			</dict> 
			<key>manTrangCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{857,323},{438,46}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{438,46}</string> 
			</dict> 
			<key>xiNgau6Chat.png</key>
			<dict>
				<key>frame</key> 
				<string>{{615,881},{26,26}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{26,26}</string> 
			</dict> 
			<key>icPlus02.png</key>
			<dict>
				<key>frame</key> 
				<string>{{907,352},{63,62}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{63,62}</string> 
			</dict> 
			<key>phiN.png</key>
			<dict>
				<key>frame</key> 
				<string>{{826,736},{82,20}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{82,20}</string> 
			</dict> 
			<key>black.png</key>
			<dict>
				<key>frame</key> 
				<string>{{769,414},{128,128}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{128,128}</string> 
			</dict> 
			<key>btnCloseOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1331,410},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>100KOffCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1104,583},{106,63}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{106,63}</string> 
			</dict> 
			<key>btnNanOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1038,862},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<true /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>btnDauhoiOff.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1331,467},{53,54}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{53,54}</string> 
			</dict> 
			<key>1KOffCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{646,815},{106,63}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{106,63}</string> 
			</dict> 
			<key>iconUser.png</key>
			<dict>
				<key>frame</key> 
				<string>{{857,372},{21,19}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{21,19}</string> 
			</dict> 
			<key>xiNgau2.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1224,703},{74,73}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{74,73}</string> 
			</dict> 
			<key>50KOnCopy.png</key>
			<dict>
				<key>frame</key> 
				<string>{{1213,583},{99,57}}</string> 
					<key>offset</key> 
				<string>{0,0}</string> 
					<key>rotated</key> 
				<false /> 
				<key>sourceSize</key> 
					<string>{99,57}</string> 
			</dict> 
		</dict> 		

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1386,920}</string>
			<key>textureFileName</key>
			<string>TaiXiuLive.png</string>
			<key>realTextureFileName</key>
			<string>TaiXiuLive.png</string>
		</dict>
	</dict>
</plist> 
